<mz-card>
	<mz-card-image>
		<img src="assets/sample-1.jpg" />
	</mz-card-image>
	<mz-card-image-title>
		Card title over here
	</mz-card-image-title>
	<mz-card-content>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae magnam velit, numquam voluptatibus blanditiis, ratione laboriosam eius illo suscipit repellat culpa reprehenderit vel omnis odit repellendus eos itaque eveniet id.
	</mz-card-content>
	<mz-card-action>
		Ajouter une note
		<button mz-button mz-halfway-fab [float]="true"><i mz-icon [icon]="'add'"></i></button>
	</mz-card-action>
</mz-card>