<mz-navbar navbarClass="cyan lighten-1">
  <div id="btn-sidenav-demo" style="cursor: pointer; margin-left: 10px;">
    <i mz-icon [align]="'left'" [icon]="'menu'" [size]="'medium'"></i>
  </div>
  <a href="#" class="brand-logo">Logo</a>
  <mz-navbar-item-container [align]="'right'">
    <mz-navbar-item><a href="#">Sass</a></mz-navbar-item>
    <mz-navbar-item><a href="#">Components</a></mz-navbar-item>
    <mz-navbar-item><a routerLink="js">JavaScript</a></mz-navbar-item>
  </mz-navbar-item-container>
</mz-navbar>