<main class="container-fluid">
	<div class="row" style="margin-top: 20px">
		<div class="col s12 m3 l2">
			<div class="card z-depth-4">
				<div class="card-image">
					<img src="assets/sample-1.jpg">
					<span class="card-title"><strong>14 septembre 2018</strong></span>
					<a class="btn-floating halfway-fab waves-effect waves-light cyan darken-3"><i class="material-icons">add</i></a>
				</div>
				<div class="card-content">
					<!-- Empty body -->
				</div>
			</div>
		</div>
		<div class="col s12 m3 l2">
			<div class="card z-depth-4">
				<div class="card-image">
					<img src="assets/sample-1.jpg">
					<span class="card-title"><strong>15 septembre 2018</strong></span>
				</div>
				<div class="card-content">
					<h5>Une belle journée...</h5>
				</div>
			</div>
		</div>
		<div class="col s12 m3 l2">
			<div class="card z-depth-4">
				<div class="card-image">
					<img src="assets/sample-1.jpg">
					<span class="card-title"><strong>16 septembre 2018</strong></span>
				</div>
				<div class="card-content">
					<h5>Un autre sujet</h5>
				</div>
			</div>
		</div>
		<div class="col s12 m3 l2">
			<div class="card z-depth-4">
				<div class="card-image">
					<img src="assets/sample-1.jpg">
					<span class="card-title">Card Title</span>
					<a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
				</div>
				<div class="card-content">
					<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
				</div>
			</div>
		</div>
		<div class="col s12 m3 l2">
				<div class="card z-depth-4">
					<div class="card-image">
						<img src="assets/sample-1.jpg">
						<span class="card-title">Card Title</span>
						<a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
					</div>
					<div class="card-content">
						<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
					</div>
				</div>
			</div>
			<div class="col s12 m3 l2">
					<div class="card z-depth-4">
						<div class="card-image">
							<img src="assets/sample-1.jpg">
							<span class="card-title">Card Title</span>
							<a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
						</div>
					</div>
				</div>
	</div>
</main>