<header class="py-5">
	<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark indigo scrolling-navbar intro-fixed-nav" [containerInside]="false">
		<mdb-navbar-brand>
			<a class="logo navbar-brand" href="#"><strong>{{ 'APP.TITLE' | translate }}</strong></a>
		</mdb-navbar-brand>
		<links>
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active waves-light" mdbWavesEffect>
					<a class="nav-link">Calendar</a>
				</li>
			</ul>
		</links>
	</mdb-navbar>
</header>
<!--Main Layout-->
<main class="container-fluid">
	<div class="row">
		<!-- FIRST CARD -->
		<div class="col-md-3 form-group">
			<mdb-card>
				<mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt=""></mdb-card-img>
				
				<mdb-card-body class="bg yellow accent-1" mdbWavesEffect>
					<mdb-card-title>
						<h3>09-09-2018</h3>
					</mdb-card-title>
					
					<mdb-card-text class="black-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam est temporibus nihil fugit perferendis eveniet excepturi quaerat facere. Magnam dicta aperiam tempore aut pariatur eum eius optio modi numquam omnis!</mdb-card-text>
				</mdb-card-body>
				<mdb-card-footer class="yellow">
					<p class="mb-0">Something here in the bottom</p>
				</mdb-card-footer>
			</mdb-card>
		</div>
		<!-- SECOND CARD -->
		<div class="col-md-3 form-group">
			<mdb-card class="text-center">
				<mdb-card-header class="danger-color-dark white-text">
					<h4><strong>10-09-2018</strong></h4>
				</mdb-card-header>
				<mdb-card-body class="danger-color" mdbWavesEffect>
					<mdb-card-title class="white-text">
						<h4>Une dure journée...</h4>
					</mdb-card-title>
					<mdb-card-text class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum mollitia unde praesentium aut incidunt reprehenderit cum quasi ipsam expedita quo qui, error assumenda ullam alias voluptatibus nam distinctio, dolor provident.</mdb-card-text>
				</mdb-card-body>
				<mdb-card-footer class="danger-color-dark white-text">
					<p class="mb-0">Something here in the bottom</p>
				</mdb-card-footer>
			</mdb-card>
		</div>
		<!-- THIRD CARD -->
		<div class="col-md-3 form-group">
			<mdb-card class="text-center">
				<mdb-card-header class="success-color-dark white-text">
					<h4><strong>11-09-2018</strong></h4>
				</mdb-card-header>
				<mdb-card-body class="success-color" mdbWavesEffect>
					<mdb-card-title>
						<h4>Special title treatment</h4>
					</mdb-card-title>
					<mdb-card-text class="black-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum repudiandae hic quis ullam harum id ab dolore eaque facere! Magnam accusantium iure sed suscipit neque! Vel soluta sequi nostrum maxime.</mdb-card-text>
				</mdb-card-body>
				<mdb-card-footer class="success-color-dark white-text">
					<p class="mb-0">Something here in the bottom</p>
				</mdb-card-footer>
			</mdb-card>
		</div>
		<!-- FOURTH CARD -->
		<div class="col-md-3 form-group">
			<mdb-card class="text-center">
				<mdb-card-header class="info-color-dark white-text">
					<h4><strong>12-09-2018</strong></h4>
				</mdb-card-header>
				<mdb-card-body class="info-color accent-1" mdbWavesEffect>
					<mdb-card-title>
						<h4>Special title treatment</h4>
					</mdb-card-title>
					<mdb-card-text class="black-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, voluptatibus. Perferendis, commodi. Rerum omnis quo assumenda distinctio aliquam, quam impedit, molestias repellendus magnam quasi recusandae reprehenderit soluta, aperiam a! Aperiam!</mdb-card-text>
				</mdb-card-body>
				<mdb-card-footer class="info-color-dark white-text ">
					<p class="mb-0">Something here in the bottom</p>
				</mdb-card-footer>
			</mdb-card>
		</div>
	</div>
</main>

<footer>
	
</footer>