<div class="container-fluid">
	<!-- NAVBAR -->
	<nav class="row">
		<mz-navbar navbarClass="cyan lighten-1">
			<div id="btn-sidenav-demo" style="cursor: pointer; margin-left: 10px;">
				<i mz-icon [align]="'left'" [icon]="'menu'" [size]="'medium'"></i>
			</div>
			<a href="#" class="brand-logo">Logo</a>
			<mz-navbar-item-container [align]="'right'">
				<mz-navbar-item><a href="#">Sass</a></mz-navbar-item>
				<mz-navbar-item><a href="#">Components</a></mz-navbar-item>
				<mz-navbar-item><a routerLink="js">JavaScript</a></mz-navbar-item>
			</mz-navbar-item-container>
		</mz-navbar>
	</nav>

	<!-- CONTENT -->
	<main class="row">
		<div class="col">
			<p>Du contenu...</p>
		</div>
	</main>

	<!-- FOOTER -->
</div>

<mz-sidenav [id]="'sidenav-demo'" [collapseButtonId]="'btn-sidenav-demo'">
	<mz-sidenav-header>
		Menu principal
	</mz-sidenav-header>
	<mz-sidenav-subheader>Link Subheader</mz-sidenav-subheader>
	<mz-sidenav-link>
		<a href="#">First Link</a>
	</mz-sidenav-link>
	<mz-sidenav-divider></mz-sidenav-divider>
	<mz-sidenav-link [active]="true">
		<a href="#">Active Link</a>
	</mz-sidenav-link>
	<mz-sidenav-divider></mz-sidenav-divider>
	<mz-sidenav-link>
		<a href="#" class="waves-effect">Second Link With Waves</a>
	</mz-sidenav-link>
</mz-sidenav>